
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}


.logo {
    text-align: center;
    margin: 0 0;
    padding: 30px;
    font-family: 'Monoton';
    font-size: 85px;
    font-weight: 0;
    background-color: rgb(247, 149, 22);
    width: 100%;
}

.form {
    background-color: rgb(245, 75, 24);
    width: 100%;
    padding: 10px;
    margin: 0 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.packing-list {
    background-color: rgb(75, 48, 33);
    width: 100%;
    padding: 10px;
    margin: 0 0;
    height: 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 70px;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stats {
    width: 100%;
    padding: 15px;
    margin: 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    background-color: aquamarine;
    color: rgb(75, 48, 33);
    font-weight: bolder;
}

button {
    padding: 8px 14px;
    border-radius: 24px;
    border: none;
    color: rgb(75, 48, 33);
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.sort {
    margin-top: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}